#title{
	background-color: #ff4c68;
	color: white;
}
body{
	font-family: 'Montserrat', sans-serif;
}
h1{
	font-family: 'Montserrat-Black', sans-serif;
	font-size: 3.5rem;
	line-height: 1.5;
}
h2{
	font-family: 'Montserrat-Black', sans-serif;
	font-size: 3.5rem;
	line-height: 1.5;
}
h3{
	font-family: 'Montserrat-bold', sans-serif;
	font-size: 1.5rem;
}
.container-fluid{
	padding: 3% 15% 7%;
}
/*Navigation bar*/
.navbar-brand{
	font-family: Ubuntu;
	font-size: 2.5rem;
	font-weight: bold;
}
.navbar{
	padding: 0 0 4.5rem;
}
.nav-item{
	padding: 0 18px;
}
.nav-link{
	font-family: "Montserrat-Light", sans-serif;
	font-size: 1.2rem;
}

/*Download Button*/

.download-button{
	margin: 5% 3% 5% 0;
}

/*Title image*/

.title-image{
	width: 60%;
	transform: rotate(25deg);
	position: absolute;
	right: 30%;

}

/*Fontawsome icons*/

.icon{
	color: #ef8172;
}
.icon:hover{
	color: #ff4c68;
}
.para-three{
	color: #8f8f8f;
}
#features{
	padding: 3% 15%;
	background-color: white;
	position: relative;
	z-index: 1;
}
.feature-box{
	text-align: center;
	padding: 5%;
}

/*Testimonial section*/
#testimonials{
	
	text-align: center;
	background-color:#ef8172;
	color: white; 
}
.carousel-item{
	padding: 3% 15%;
}

.testimonial-image{
	width: 10%;
	border-radius: 100%;
	margin: 10px;
}
#press{
	background-color: #ef8172;
	text-align: center;
	padding: 3%;
}
.press-logo{
	width: 15%;
	margin: 20px 20px 50px;
}

/*Pricing Section*/

#pricing{
	padding: 100px;
	text-align: center;
}
.pricing-column{
	padding: 3% 2%;
}

/*CTA section*/

#cta{
	background-color: #ff4c68;
	color: white;
	padding: 7% 15%;
	text-align: center;
}
.cta-heading{
	font-family: Montserrat-Black;
	font-size: 3.5rem;
	line-height: 1.5;

}
#footer{
	padding: 7% 15%;
	text-align: center;
}
.social-icon{
	margin: 20px 10px;
}
@media (max-width: 1028px)
{
	#title{
		text-align: center;
	}
	.title-image{
		position: static;
		transform: rotate(0deg);
	}
}